@model IEnumerable<IMS_Auth.Models.Purchase>

@{
    ViewBag.Title = "DisplayPurchase";
}

<h2>DisplayPurchase</h2>

<p>
    @Html.ActionLink("Create New", "PurchaseProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_Quntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_Quntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "PurchaseDetail", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
