@model IMS_Auth.Models.Purchase

@{
    ViewBag.Title = "PurchaseDetail";
}

<h2>Purchase Detail</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Purchase Product")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Product)
        </dd>

        <dt>
            @Html.DisplayName("Purchase Quntity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Quntity)
        </dd>

        <dt>
            @Html.DisplayName("Purchase date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_date)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "DisplayPurchase","",new {@class="btn btn-primary" })
</p>
<input type="hidden" id="hdnMenuCode" value="purchaseproduct" />
