@model IEnumerable<IMS_Auth.Models.RoleMaster>

@{
    ViewBag.Title = "DisplayRoleMaster";
}

<h2>DisplayRoleMaster</h2>

<p>
    @Html.ActionLink("Create New", "CreateRoleMaster")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleCode)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>*@
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleCode)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>*@
        <td>

            @Html.ActionLink("Setting", "ManageFormControll", new { id = item.RoleId }) |
            @Html.ActionLink("Edit", "EditRoleMaster", new { id = item.RoleId })
            @* @Html.ActionLink("Details", "Details", new { id=item.RoleId })*@
        </td>
    </tr>
}

</table>
<input type="hidden" id="hdnMenuCode" value="rolemaster" />