@model IEnumerable<IMS_Auth.Models.FormRoleMapping>

@{
    ViewBag.Title = "ManageFormControll";
}

<h2>Form Control</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowInsert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowEdit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowView)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>*@
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        @*<td>
                <input type="checkbox" class="Selectall" id="FullRights_@item.MenuId" @(item.FullRights == false ? "" : "checked='checked'") onclick="SelectAll(this)" />
            </td>*@
        @*<td>
                <input type="checkbox" value="@item.AllowMenu" @(item.AllowMenu == false ? "" : "checked='checked'") class="Checkbox" onclick="CheckValue(@item.MenuId)" id="allowmenu_@item.MenuId" />
            </td>*@
        <td>
            <input type="checkbox" value="@item.AllowView" @(item.AllowView == false ? "" : "checked='checked'") class="Checkbox" @*onclick="CheckValue(@item.MenuId)" id="View_@item.MenuId"*@ />
        </td>
        <td>
            <input type="checkbox" value="@item.AllowInsert" @(item.AllowInsert == false ? "" : "checked='checked'") class="Checkbox" @*onclick="CheckValue(@item.MenuId)" id="Insert_@item.MenuId"*@ />
        </td>
        <td>
            <input type="checkbox" value="@item.AllowEdit" @(item.AllowEdit == false ? "" : "checked='checked'") class="Checkbox" @*onclick="CheckValue(@item.MenuId)" id="Update_@item.MenuId"*@ />
        </td>
        <td>
            <input type="checkbox" value="@item.AllowDelete" @(item.AllowDelete == false ? "" : "checked='checked'") class="Checkbox" @*onclick="CheckValue(@item.MenuId)" id="Delete_@item.MenuId"*@ />
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>*@
    </tr>
}

</table>
<button class="btn btn-primary btn-md" id="btnAdd" style="margin-top: 0px;" type="submit">Save</button>
<button class="btn btn-danger btn-md" id="btnCancel" name="cancel" type="button" value="Cancel">Cancel</button>
