@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li id="product">
        @Html.ActionLink("Products", "DisplayProduct", "Product")
    </li>
    <li id="purchaseproduct">
        @Html.ActionLink("Purchase Product", "DisplayPurchase", "Purchase")
    </li>
    <li id="saleproduct">
        @Html.ActionLink("Sale Product", "DisplaySale", "Sale")
    </li>
    <li id="rolemaster">
        @Html.ActionLink("Role Master", "DisplayRoleMaster", "RoleMaster")
    </li>
    <li id="formmaster">
        @Html.ActionLink("Form Master", "DisplayFormMaster", "FormMaster")
    </li>
    <li id="usermaster">
        @Html.ActionLink("User Master", "DisplayUserMaster", "UserMaster")
    </li>
    <li >
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}